*~
*.a
*.d
*.bin
*.o
*.swp
*.la
*.so*
*.csv


.depend

/dp/shinjuku
/client/latency_client
/client/batch_client
/db/db

db/bench-db/*

.vscode

/deps/dpdk/build/
/deps/dune/kern/.cache.mk
/deps/dune/kern/*.o.ur-*

